
  
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Change the background color to match your design */
  }
  
  .topnav a, .topnav button {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
  }
  
  .topnav button {
    background-color: #008CBA; /* Change the background color to match your design */
  }
  
  /* Add any other styles for active, hover, or visited links as needed */
  .topnav a.active {
    background-color: #4CAF50; /* Change the active link's background color */
  }
  
  
  
  .caro {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .caro .carousel-inner .item {
    height: 500px;
    width: auto; 
  }
  
  footer {
    background-color:#b8b8b8 ;
  }

  /* title */
  .container {
    position: relative;
    text-align: center;
    color: white;
    height: 200px; /* Adjust the height to your preference */
}

.image {
  max-width: 250%;
  max-height: 250%;
  display: block;
  margin: 0 auto; 
  position: relative; 
}

.centered {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em; 
}

/* light mode and dark mode button*/
/* Light Mode */
/* Light Mode Styles */
body.light-mode {
  background-color: #fff;
  color: #333;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}




/* picture social media pic hyper */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#logo{
  width: 20%;
  height: 20%;
}
